body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  width: 30%;
  height: 30%;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.center {
  align-self: center;
}

/* Styled-Components.com */
:root {
  --mainDark: #343a40;
  --mainWhite: #ffffff;
  --mainGrey: #61666c;
  --mainLightGrey: #a8aeb6;
}
