body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  width: 30%;
  height: 30%;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.center {
  align-self: center;
}

/* All Products Component */

#productsView {
  margin-left: 200px;
  margin-right: 200px;
}

#all-prod-text {
  text-align: center;
}
.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.single-product-card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  width: 250px;
  margin-top: 15px;
}

.image-products {
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 280px;
  height: 180px;
  /* border-radius: 5px; */
  /* object-fit: cover; */
}
.product-name {
  color: inherit;
  font-weight: bold;
}

.product-name:hover {
  color: #a94ae8;
  text-decoration: none;
}

.nav-name {
  color: grey;
  font-weight: bold;
}

.nav-name:hover {
  color: #a94ae8;
  text-decoration: none;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  /* align-self: flex-end; */
  /* align-items: center; */
  margin-top: 20px;
}

#productsView {
  margin-top: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#add-cart {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 58, 64, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 15px;
}

#price {
  margin-left: 10px;
}

/* FOOTER */
:root {
  --mainDark: #343a40;
  --mainWhite: #ffffff;
  --mainGrey: #535659;
  --mainLightGrey: #a8aeb6;
  --mainLightPurple: #a94ae8;
}

.main-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
/* SINGLE PRODUCT VIEW */
.container-product {
  display: flex;
  min-height: 100vh;
}

/* HOME/All Categories Component */

#categoriesView {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#all-cat-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.all-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
}

.single-category-card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  margin-top: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.image-categories {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}
.category-name {
  margin-top: 20px;
  text-align: center;
}

#categoriesView {
  margin-top: 20px;
}

.link-category {
  color: var(--mainLightPurple);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
}

/* Cart */

.container-products {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  max-width: 650px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 100vh;
  flex-direction: row;
}

.container-products ion-icon {
  font-size: 25px;
  color: var(--mainLightPurple);
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  flex-direction: row;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  border-bottom: 4px solid lightgray;
  justify-content: center;
  flex-direction: row;
}

.product-title {
  width: 25%;
  text-align: right;
  margin: auto;
}
.price-title {
  width: 30%;
  text-align: right;
  margin: auto;
}

.quantity-title {
  width: 25%;
  text-align: right;
  margin: auto;
}

.total-title {
  width: 25%;
  text-align: right;
  margin: auto;
}

.price {
  width: 25%;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.total {
  width: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.product {
  display: flex;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  flex-direction: row;
}

.product ion-icon {
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product img {
  width: 60px;
}

.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 9px 0;
  border-top: 4px solid lightgray;
}

.cartTotalTitle {
  width: 30%;
}

.cartTotal {
  width: 10%;
}

#home {
  width: 25%;
  height: 25%;
}

.empty-cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: center;
  padding-top: 10%;
  min-height: 100vh;
  flex-direction: column;
}

/* Sign Up page (auth form component*/

.signup-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  flex-direction: column;
}
.form-signup {
  padding-left: 25%;
  flex-direction: row;
  justify-content: space-evenly;
  white-space: nowrap;
}

.google-signup {
  white-space: nowrap;
  border: thin solid #888;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
}

/* Single Category Component */

#categoryView {
  margin-left: 200px;
  margin-right: 200px;
  min-height: 100vh;
}

#singlecat-text {
  text-align: center;
}

.singlecat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.singlecat-shadow-sm {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  width: 250px;
  margin-top: 15px;
}

.image-singlecat {
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 280px;
  height: 180px;
  /* border-radius: 5px; */
  /* object-fit: cover; */
}
.singlecat-name {
  color: inherit;
  font-weight: bold;
}

.singlecat-name:hover {
  color: #a94ae8;
  text-decoration: none;
}

.nav-name {
  color: grey;
  font-weight: bold;
}

.nav-name:hover {
  color: #a94ae8;
  text-decoration: none;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  /* align-self: flex-end; */
  /* align-items: center; */
  margin-top: 20px;
}

#productsView {
  margin-top: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#add-cart {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 58, 64, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 15px;
}

#price {
  margin-left: 10px;
}

.checkout-form {
  width: 50%;
  margin: auto;
}

.contact-title {
  text-align: center;
}
